<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>EduMission</title>
  </head>
  <body style="background-color: #f0f1f2;" >
    
    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <img src="logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="Logo">
        <a class="navbar-brand" href="/">EduMission</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admission">Admission</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/career">Career</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/training">Training</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/communityservices">Community Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-light my-2 my-sm-0 mr-1" type="submit">Register</a>
            <a class="btn btn-light my-2 my-sm-0 mr-1" type="submit">LogIn</a>
          </form>
        </div>
      </nav>
    <!-- end nav bar -->

    <!-- Page Content -->
    <div class="container mt-4">
        <h2> ABOUT US </h2>
        <p>
          Established in May 2023, Edumission is a reputed
and reliable man power solutions company in West
Bengal. Edumission has been established with a
whole and sole objective of providing end to end
manpower recruitment solutions for both fresher and
experienced candidates. Recently we are working all
over the West Bengal with our office at Chakdaha,
Nadia. We help candidate looking for jobs and
companies looking for candidates at the same time,
thus bridging the gap of job and man power near.
        </p>
        <p>
          Edumission acts as a positive accelerator in
progressing the man power recruitment process and
man power organization to concentrate on your core
business. We especially focus on individual needs and
small and medium organization. Our end to end man
power recruitment solution is designed to be cost
effective.
        </p>

        <h2> MISSION </h2>
        <p>
          Edumission's mission is to become the provider of choice
for manpower services by placing right candidates at the
right company. We focus on to bring the best from every
candidate. We aim at becoming a premier solution
provider so that we can meet the needs of our candidates
and clients from a single source to a complete turnkey
solution to their Manpower needs with highest level of
performance and quality.
        </p>

        <h2> VISION </h2>
        <p>
          Edumission's vision is wide and clear. Here we support
companies and help candidate providing high standard
man power services. We see us as a medium for making
the world a better place to live in by helping candidates to
get the right job and for companies to provide the right
skilled candidates which will surely help in bringing peace
and joy in the world. We offer different types of jobs like
Back end Operation associate, Workshop manager, Service
adviser, Operation manager, Engineers & Technician in different verticals for various
companies. Edumission believes in keeping pace with the
leading giants in the industry, taking every possible step,
big and small alike.
        </p>
    </div>
  

    <div class="container mt-4">
      <h3>EXECUTIVE MANAGEMENT TEAM</h3>
    <ul class="list-unstyled">
      <li class="media">
        <img class="mr-3" src="ranu.jpg" alt="Generic placeholder image" style="width: 200px; height: 200px;">
        <div class="media-body">
          <h4 class="mt-0 mb-1">Ranu Debnath</h4>
          <h6 class="mt-0 mb-1">Founder & CEO</h6>
          With over 8 years of experience in educational operations and Job consulatant, Ranu has co-founded EduMission and provides direction to new ideas and product strategies as well as overall leadership to the company.
        </div>
      </li>
      <li class="media my-4">
        <img class="mr-3" src="Soubhik.jpg" alt="Generic placeholder image" style="width: 200px; height: 200px;">
        <div class="media-body">
          <h4 class="mt-0 mb-1">Soubhik Biswas</h4>
          <h6 class="mt-0 mb-1">Founder & CEO</h6>
          With over 6 years of experience in operations, Soubhik provides strategic guidance to the company and oversees its operations. He works closely with all key departments to implement the company's vision and mission.
        </div>
      </li>
    </ul>
  </div>


  <div class="container mt-4">
    <h2> OUR PARTNERS </h2>
    <p>
      We help company manage the HR
System and productivity solution
providing eligible and skilled man power
for all departments. Edumission believes
in building strong and long term
relationship with clients and candidate
who look for job and look for eligible man
power. We also believe interacting,
communicating, sharing knowledge and
information that enable us to enhance
and develop.
    </p>
  </div>


  <div class="container mt-4">
    <h3>OUR PARTNERS</h3>
    We help company manage the HR
System and productivity solution
providing eligible and skilled man power
for all departments. Edumission believes
in building strong and long term
relationship with clients and candidate
who look for job and look for eligible man
power. We also believe interacting,
communicating, sharing knowledge and
information that enable us to enhance
and develop.
  <ul class="list-unstyled">
    <li class="media">
      <img src="dis.jpg" class="rounded float-left" alt="Generic placeholder image" style="width: 200px; height: 100px;">
      <img src="Deftek.jpg" class="rounded float-right" alt="Generic placeholder image" style="width: 200px; height: 100px;">
      <img src="ucmas.gif" class="rounded float-right" alt="Generic placeholder image" style="width: 300px; height: 100px;">
    </li>
  </ul>
</div>


  

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
  </body>
</html>